@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,500&family=Ubuntu:wght@400;500;700&display=swap');
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.bg-myblue{
    background-color:#daeaf6;
}
.bg-mygreen{
    background-color: #D0F4EA;
}
.box-menu-150{
    width: 100%;
    height: 150px;
    border-radius: 5px;
    border: 1px solid rgba(208, 207, 207,.6);
}
.box-menu-100{
    width: 100%;
    height: 100px;
    border-radius: 5px;
    border: 1px solid rgba(208, 207, 207,.6);
}
.box-menu-0{
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(208, 207, 207,.6);
    overflow: hidden;
}

.box-menu-shadow{
    box-shadow: 1px 2px 5px  rgba(0, 0, 0,.2);
}

.myborder-radius{
    border-radius: 10px 10px 10px 10px;
}
footer{
    width: 100%;
}

.nav-hover a{
    transition: .1s ease-in-out;
}
.nav-hover a:active{
    transform: scale(.9);
}
.box-menu-0 .icon-bg {
    width: 80px;
    height: 80px;
}

.box-model-300{
    width: 300px;
    height: 150px;
    border-radius: 5px;
    border: 1px solid rgba(208, 207, 207,.6);
    background: rgb(255,255,255);
}

/* imgBox */
.mycard{
    margin-top: 80px;
    position: relative;
    width: 350px;
    height: 190px;
    background-color: white;
    border-radius: 20px;
    box-shadow:  o 35px 80px rgba(0, 0, 0,0.15);
    transition: 0.5s;
}

.mycard:hover{
    height: 450px;
}
.imgBx{
    position: absolute;
    left: 50%;
    top: -50px;
    transform: translateX(-50%);
    width :150px ;
    height: 150px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 15px 50px rgba(0, 0, 0,0.35);
    overflow: hidden;
    transition: 0.5s;
}

.mycard:hover .imgBx{
    width: 250px;
    height: 250px;
}

.imgBx img{
    position: absolute ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mycard .profil-content{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.mycard .profil-content .details{
    padding: 50px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(190px);
}
.mycard:hover .profil-content .details{
    transform: translateY(0px);
}
.mycard .profil-content .details h2{
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em ;
}

.mycard .profil-content .details h2 span{
    font-size: 0.75em;
    font-weight: 500;
    opacity: 0.5;
}

.mycard table{
    width: 100%;
    font-size: 1.25em;
    font-weight: 600;
    color: #555;
    line-height: 1.2em ;
    
}
.mycard table td{
    padding: 5px;
}

.rounded-start-pill-top{
    border-radius: 100px 0px 0px 0px;
}

.input-no-bordered{
    border: none;
    outline: none;
    padding: 5px;
    color: grey;
}

.padding-td tr td, .padding-td thead th{
    padding: 15px;
}

.mycard-2{
    margin-top: 80px;
    width: 350px;
    height: 450px;
    background-color: rgb(87, 80, 80);
    border-radius: 5px;
}

.mycard-2 .head{
    width: 100%;
    height: 50%;
    background: url("../img/wave-lengkung-down.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.mycard-2 .head .imgBox-card{
    width :150px;
    height: 150px;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.mycard-2 .head .imgBox-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mycard-2 .body{
    height: 50%;
}


.mycard-3{
    margin-top: 80px;
    width: 350px;
    height: 450px;
    background-color:white;
    border-radius: 5px;
}

.mycard-3 .head{
    width: 100%;
    height: 30%;
    background: url("../img/wave-5-top-primary.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.mycard-3 .head .imgBox-card{
    width :100px;
    height: 100px;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
}

.mycard-3 .head .imgBox-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mycard-3 .body{
    height: 80%;
}

.imgbox-profil-navbar{
    height: 150px;
    width: 150px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid white;
}

.imgbox-profil-navbar img{

    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 600px) {
    .imgbox-profil-navbar{
        display: none;
    }
  }
/* imgBox */


/* imgBx-profil */
.imgbox-profil{
    width :300px ;
    height: 300px;
    background: #fff;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid white;
}

.imgbox-profil img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.bgBox-up{
    background-image: url("../img/wave.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.bgBox-up-lengkung{
    background-image: url("../img/wave-lengkung.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.bgBox-down-lengkung{
    background-image: url("../img/wave-lengkung-down.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
.bgBox-down{
    background-image: url("../img/wave-down.svg");
    background-repeat: no-repeat;
    background-size: cover;
}
/* imgBx-profil */

/* footer */
footer ol ul{
    list-style-type: circle;
}
/* footer */


/* card-5 */
.card-5{
    background-color: white;
    width: 150px;
    height: 200px;
    position: relative;
    border-radius: 8px;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0,0.15);

}

.card-5 .info{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-5 .info .name{
    font-size: 18px;
    color: lightgreen ;
    position: absolute;
    top: 50px;

    
}
.card-5 .info .nip{
    font-size: 12px;
    color: black ;
    position: absolute;
    top: 75px;

}
.card-5 .info .jabatan{
    font-size: 15px;
    color: lightgreen ;
    position: absolute;
    top: 100px;

}

.card-5 .Mybutton{
    position: absolute;
    top: 150px;
}
.card-5 .info .btn {
    width: 50px;
    box-sizing: border-box;
    padding: 5px;
    font-size: 11px;
}

.card-5 .photo{
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: 0;
    border-radius: 8px;
    overflow: hidden;
    transition: .5s;
}

.card-5 .photo img{
    position: absolute ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-5:hover .photo img{
    position: absolute ;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-5:hover .photo{
    transform: scale(.5,.35) translateY(-250px);
    border-radius: 50%;
}
/* card-5 */

/* card-6 */
.card-6{
    height: 250px;
    width: 250px;
    overflow: hidden;
    border-radius: 50%;
    background: linear-gradient(45deg, rgb(1, 228, 1),lightgreen);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    transition: all .3s ease-in-out;
    margin: 10px;
}

.card-6:hover{
    height: 550px;
    width: 350px;
    border-radius: 5px;
}

.card-6 .wrap img{
    position: relative;
    z-index: 20;
    border-radius: 50%;
    display: block;
    height: 200px;
    width: 200px;
    border: 5px solid #fff;
    object-fit: cover;
    margin: 20px auto;
    transition: .8s;
}

.card-6 .wrap img.active{
    height: 470px;
    width: 350px;
    border: 5px solid #fff;
    margin: 0px auto;
    border: none;
    border-radius: 5px;
}

.card-6 .wrap .name{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
    padding: 10px;
    line-height: 25px;
}
.card-6 .wrap .nip{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 17px;
    margin: 10px 0;
    line-height:0px;
}
.card-6 .wrap .jabatan{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 17px;
}
.card-6 .wrap .content{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-size: 17px;
}

.card-6 .icons{
    position: relative;
    margin-top: -420px;
    margin-left: 10px;
    list-style: none;
}
.card-6 .icons li{
    height: 40px;
    width: 40px;
    opacity: 0;
    margin: 5px 0;
    transition: all .3s ease-in-out;
    
}
.card-6:hover .icons li{
    opacity: 1;
    
}
.card-6 .icons li a{
    background-color: #fff;
    height: 100%;
    width: 100%;
    display: block;
    line-height: 40px;
    border-radius: 50%;

}

/* card-6 */

.link-active{
    border-right: 5px solid green;
}

.bg-nav-line {
 
   background: url(mydist/img/layered-waves-haikei.svg); 
    background-repeat: no-repeat; 
    background-size: cover; 
    
}
